@media (max-width: 640px) {
  .login {
    display: block;
    width: 95vw;
    margin: 0 auto;
  }
  .login__form {
    width: 100%;
  }
  .login__header {
    text-align: center;
  }
}
